*,
*:before,
*:after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  line-height: 1.5;
}

button {
  cursor: pointer;
  padding: 0.1rem 0.5rem;
}

form {
  display: block;
  height: inherit;
  text-align: inherit;
}

:root {
  --background-color: rgb(180, 180, 180);
  --main-content-color: white;
  --link-color: rgb(93, 0, 255);
}

html {
  background-color: white;
  font-family: arial;
  font-size: 0.9rem;
}

nav {
  display: flex;
  gap: 1rem;
  width: fit-content;
  align-items: center;
  background-color: #444;
  width: 100%;
  height: 4rem;
  font-size: 2rem;
  text-align: center;
  text-justify: center;
  justify-content: center;
}

nav a,
nav button {
  text-decoration: none;
  margin: 0;
  color: black;
  display: flex;
  align-items: center;
  height: 100%;
  padding-inline: 1rem;
  background-color: #bbb;
  font-size: 1.5rem;
  font-family: Arial;
  border: none;
  transition: background-color 0.2s;
}

nav a:hover,
nav button:hover {
  background-color: #999;
}

main {
  max-width: 1000px;
  margin-inline: auto;
  padding: 1rem;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
}

.iconContainer svg {
  height: 1em;
  aspect-ratio: 1 / 1;
  color: inherit;
}

.darkOverlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.darkOverlay .loginPrompt {
  background-color: white;
  padding: 1rem;
}

.darkOverlay .loginPrompt form input[type="text"],
.darkOverlay .loginPrompt form input[type="password"] {
  width: 20ch;
  font: inherit;
  border: 1px solid black;
  text-align: left;
  padding: 0.25em;
}

.darkOverlay .loginPrompt form .formEntry {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  margin-bottom: 1em;
  align-items: center;
}

.darkOverlay .loginPrompt form button[type="submit"] {
  display: block;
  margin-inline: auto;
  padding: 0.25em;
}
