*,
*:before,
*:after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  line-height: 1.5;
}

button {
  cursor: pointer;
}

form {
  display: block;
  height: inherit;
  text-align: inherit;
}

:root {
  --background-color: rgb(180, 180, 180);
  --main-content-color: white;
  --link-color: rgb(93, 0, 255);
}

html {
  background-color: white;
  font-family: arial;
  font-size: 0.9rem;
}

nav {
  display: flex;
  gap: 1rem;
  width: fit-content;
  align-items: center;
  background-color: #444;
  width: 100%;
  height: 4rem;
  font-size: 2rem;
  text-align: center;
  text-justify: center;
  justify-content: center;
}

nav a,
nav button {
  text-decoration: none;
  margin: 0;
  color: black;
  display: flex;
  align-items: center;
  height: 100%;
  padding-inline: 1rem;
  background-color: #bbb;
  font-size: 1.5rem;
  font-family: Arial;
  border: none;
  transition: background-color 0.2s;
}

nav a:hover,
nav button:hover {
  background-color: #999;
}

main {
  max-width: 1000px;
  margin-inline: auto;
  padding: 1rem;
}

.courseListContainer {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.courseListContainer > * {
  display: flex;
  width: 200px;
  height: 300px;
  background-color: white;
  border: 1px solid black;
  box-shadow: 0px 0px 8px 0px black;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  transition: top 0.25s;
  top: 0;
  position: relative;
}

.courseListContainer > *:hover {
  top: -1rem;
}

.courseTable {
  background-color: black;
  width: 100%;
  font-size: 0.95em;
}

.courseTable td,
.courseTable th {
  padding: 0.5em 0.1em;
  text-align: center;
}

.courseTable th {
  background-color: #222;
  color: white;
  font-weight: bold;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
}

.iconContainer svg {
  height: 1em;
  aspect-ratio: 1 / 1;
  color: inherit;
}

.iconButton {
  width: fit-content;
  height: fit-content;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  font-size: inherit;
}

.upDownButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.darkOverlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.darkOverlay .settingsMenu {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.darkOverlay .settingsMenu > div {
  border: 1px solid black;
  margin: 0;
  padding: 0.5rem;
}

.darkOverlay .settingsMenu > div button {
  width: 100%;
  background-color: transparent;
  border: none;
  font: inherit;
}

.darkOverlay .loginPrompt {
  background-color: white;
  padding: 1rem;
}

.darkOverlay .loginPrompt form input[type="text"],
.darkOverlay .loginPrompt form input[type="password"] {
  width: 20ch;
  font: inherit;
  border: 1px solid black;
  text-align: left;
  padding: 0.25em;
}

.darkOverlay .loginPrompt form .formEntry {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  margin-bottom: 1em;
  align-items: center;
}

.darkOverlay .loginPrompt form button[type="submit"] {
  display: block;
  margin-inline: auto;
  padding: 0.25em;
}

.courseTitle {
  text-align: center;
}

div.inline {
  display: inline-block;
}

div.gradeRowButtons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.2rem;
  padding-inline: 0.2rem;
}

div.gradeRowButtons > * {
  flex-grow: 1;
  flex-basis: 0;
}

input[type="text"] {
  width: 10ch;
  text-align: center;
  border-width: 0px;
  color: black;
  font-size: inherit;
  font-family: inherit;
}

input[type="text"].transparent {
  background-color: inherit;
}

input[type="text"].weight {
  width: 4ch;
}

input[type="text"].score {
  width: 4ch;
}

input[type="text"]:disabled {
  color: black;
  font-weight: bold;
}

input[type="text"].courseTitle {
  font: inherit;
  font-weight: normal;
  text-align: left;
}

ul {
  padding-left: 1em;
}

li {
  list-style-position: inside;
}

.manageButtons,
.desiredScore {
  display: inline-block;
}

.manageButtons {
  display: flex;
  gap: 1rem;
}

.scoreButtonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.requiredGrade,
.scoreButtonContainer,
.visualization {
  margin-top: 1rem;
}

.visualization {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 100%;
}

.visualization canvas {
  width: 100%;
  border: 1px solid black;
  aspect-ratio: 16/9;
}

.visualization .scoreSliders {
  width: 100%;
}

.visualization p.name {
  min-width: 15ch;
}

.visualization .axisVariables {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.visualization .axisVariables button {
  padding-inline: 0.5rem;
}

.slider {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.slider input {
  display: block;
  flex-grow: 1;
}
