*,
*:before,
*:after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  line-height: 1.5;
}

button {
  cursor: pointer;
}

form {
  display: block;
  height: inherit;
  text-align: inherit;
}

:root {
  --background-color: rgb(180, 180, 180);
  --main-content-color: white;
  --link-color: rgb(93, 0, 255);
}

html {
  background-color: white;
}

nav {
  display: flex;
  gap: 1rem;
  width: fit-content;
  align-items: center;
  background-color: #444;
  width: 100%;
  height: 4rem;
  font-size: 2rem;
  text-align: center;
  text-justify: center;
  justify-content: center;
}

nav a,
nav button {
  text-decoration: none;
  margin: 0;
  color: black;
  display: flex;
  align-items: center;
  height: 100%;
  padding-inline: 1rem;
  background-color: #bbb;
  font-size: 1.5rem;
  font-family: Arial;
  border: none;
  transition: background-color 0.2s;
}

nav a:hover,
nav button:hover {
  background-color: #999;
}

main {
  max-width: 1000px;
  margin-block: 1rem;
  margin-inline: auto;
}

.courseListContainer {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.courseListContainer > * {
  display: flex;
  width: 200px;
  height: 300px;
  background-color: white;
  border: 1px solid black;
  box-shadow: 0px 0px 8px 0px black;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  transition: top 0.25s;
  top: 0;
  position: relative;
}

.courseListContainer > *:hover {
  top: -1rem;
}

.darkOverlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.darkOverlay .loginPrompt {
  background-color: white;
  padding: 1rem;
}

.darkOverlay .loginPrompt form input[type="text"],
.darkOverlay .loginPrompt form input[type="password"] {
  width: 20ch;
  font: inherit;
  border: 1px solid black;
  text-align: left;
  padding: 0.25em;
}

.darkOverlay .loginPrompt form .formEntry {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  margin-bottom: 1em;
  align-items: center;
}

.darkOverlay .loginPrompt form button[type="submit"] {
  display: block;
  margin-inline: auto;
  padding: 0.25em;
}

.courseTitle {
  text-align: center;
}

div.inline {
  display: inline-block;
}

div.gradeRowContentWrapper {
  padding-block: 0.75rem;
  padding-left: 0.5rem;
  border: 1px solid black;
  display: flex;
  gap: 0.5rem;
  font-weight: bold;
}

div.gradeRowButtons {
  display: flex;
  gap: 0.5rem;
  margin-left: auto;
  width: fit-content;
  padding-right: 0.5rem;
}

div.gradeRowButtons button {
  padding-inline: 1rem;
}

input[type="text"] {
  width: 20ch;
  text-align: center;
  border-width: 0px;
  color: black;
  font-size: 1rem;
  font-family: inherit;
  margin-left: 0.25rem;
}

input[type="text"].transparent {
  background-color: inherit;
}

input[type="text"].weight {
  width: 10ch;
}

input[type="text"].score {
  width: 5ch;
}

input[type="text"]:disabled {
  color: black;
  font-weight: bold;
}

input[type="text"].courseTitle {
  font: inherit;
  font-weight: normal;
  text-align: left;
}

ul {
  padding-left: 1em;
}

li {
  list-style-position: inside;
}

.manageButtons,
.desiredScore {
  display: inline-block;
}

.manageButtons {
  display: flex;
  gap: 1rem;
}

.scoreButtonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.requiredGrade,
.scoreButtonContainer,
.statistics {
  margin-top: 1rem;
}
