.settingsMenu {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.settingsMenu > div {
  border: 1px solid black;
  margin: 0;
  padding: 0.5rem;
}

.settingsMenu > div button {
  width: 100%;
  background-color: transparent;
  border: none;
  font: inherit;
}

.iconButton {
  width: fit-content;
  height: fit-content;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  font-size: inherit;
}

.upDownButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.courseTable {
  background-color: black;
  width: 100%;
  font-size: 0.95em;
}

.courseTable td,
.courseTable th {
  padding: 0.5em 0.1em;
  text-align: center;
}

.courseTable th {
  background-color: #222;
  color: white;
  font-weight: bold;
}

.courseTitle {
  font: inherit;
  font-weight: normal;
  text-align: left;
  border: none;
}

.gradeRowButtons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.2rem;
  padding-inline: 0.2rem;
}

.gradeRowButtons > * {
  flex-grow: 1;
  flex-basis: 0;
}

.smartInput {
  width: 10ch;
  text-align: center;
  border-width: 0px;
  color: black;
  font-size: inherit;
  font-family: inherit;
  background-color: inherit;
}

.smartInput::placeholder {
  color: rgba(20, 20, 20, 0.6);
}

.smartInput.weight {
  width: 4ch;
}

.smartInput.score {
  width: 4ch;
}

.smartInput:disabled {
  color: black;
  font-weight: bold;
}

.manageButtons,
.desiredScore {
  display: inline-block;
}

.manageButtons {
  display: flex;
  gap: 1rem;
}

.scoreButtonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.requiredGrade,
.scoreButtonContainer,
.visualization {
  margin-top: 1rem;
}

.visualization {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 100%;
}

.visualization .canvasContainer {
  width: 100%;
  height: fit-content;
  position: relative;
}

.visualization .canvasContainer canvas {
  position: relative;
  display: block;
  width: 100%;
  aspect-ratio: 16/9;
  border: 1px solid black;
}

.visualization .canvasContainer button {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.visualization .scoreSliders {
  width: 100%;
}

.visualization p.name {
  min-width: 15ch;
}

.visualization .axisVariables {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.visualization .axisVariables button {
  padding-inline: 0.5rem;
}

.slider {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.slider input {
  display: block;
  flex-grow: 1;
}
